html {
  height: 100%;
}
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 24px;
}

#results {
  vertical-align: top;
}
#results img {
  margin-left: 8px;
  cursor: pointer;
}
  #results img:hover {
    opacity: 0.8;
  }
#info {
  position: absolute;
  bottom: 10px;
  left: 340px;
  right: 0px;
  padding-top: 6px;
  text-align: center;
}